@model IEnumerable<PUBG.Models.GalleryPhotos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Control/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create">Yenisini əlavə et</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Şəkil
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@item.Image" width="200" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redaktə</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Ətraflı</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
