@model PUBG.Areas.Control.Models.EditModelBlog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Control/Views/Shared/_Layout.cshtml";
}

<h1>Redaktə</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ExistPhotoPath"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Başlıq</label>
                <input asp-for="Title" class="form-control" required/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Mətn</label>
                <input asp-for="Text" class="form-control" required/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label">Şəkil</label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Yadda saxla" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri</a>
</div>

